{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for data in receipts %}
                <tr>
                    <td>{{ data.vendor }}</td>
                    <td>{{ data.total }}</td>
                    <td>{{ data.tax }}</td>
                    <td>{{ data.date|date:'n/d/y' }}</td>
                    <td>{{ data.category.name }}</td>
                    <td>{{ data.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
